---
---

@import "{{ site.theme }}";

// #markdown-toc {
//     font-size: 95%;
//     @media #{$large} {
//         display: block;
//         @include grid(12,2);
//         @include prefix(12,0.5);
//         @include suffix(12,0.5);
//         position: fixed; /* changed from absolute */
//         top: 5.5em;
//         right: 0;
//         background-color: $white;
//     }
// }

#markdown-toc  {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: sticky !important; /* added to make toc scroll with page */
    float: right !important; /* added to make toc scroll with page */
    top: 0;
    right: 0;
    width: $right-sidebar-width-narrow;
    margin-right: -1 * $right-sidebar-width-narrow;
    padding-left: 1em;
    padding-top: 1em !important; /* added to make toc scroll with page */
    z-index: 10;
  }
